doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    meta(property='og:description', content='Description')
    meta(property='og:title', content='Title')
    meta(property='og:image', content='/img/fbimg.jpg')
    meta(property='og:type', content='article')
    meta(property='og:url', content='http://happy-holidays.newmuseum.org')
    meta(property='og:site_name', content='New Museum Holiday Greeting')

    meta(name="twitter:card" content="/img/fbimg.jpg")
    meta(name="twitter:title" content="Title")
    meta(name="twitter:description" content="Description")
    meta(name="twitter:image" content="/img/fbimg.jpg")

    title Title

    //- block css
      //- link(rel='stylesheet', href='/css/style.css')
    block js
      script(src="bundle.js")

  body
    block content